body {
    margin: 0;
}

h1 {
    font-family: 'EB Garamond', serif;

}

h2 {
    font-family: 'EB Garamond', serif;

}

h3 {
    font-family: 'Lato', sans-serif;

}

h4 {
    font-family: 'Lato', sans-serif;

}

p {
    font-family: 'Lato', sans-serif;
}

/* NAV BAR INDSTILLINGER */

li {
    font-family: 'Lato', sans-serif;
}

@media (max-width: 992px) {

    .navbar {
        position: absolute;
        width: 100%;
        z-index: 9999;
    }
}

nav.navbar {
    max-width: 1078px;
    margin: 0 auto;
}

/* Content */

#wrapper {
    /*
    border-left: solid 1pt #eaeaea;
    border-right: solid 1pt #eaeaea;
*/
}

#haar-hud {}

#produkt-oversigt div {
    transition: .35s ease;
    border: none;
}


#produkt-oversigt .button {
    opacity: 0;
    transition: opacity .35s ease;
}


#produkt-oversigt div:hover {
    box-shadow: 1px 1px 10px #d8d8d8;
    transform: scale(1.03);
    z-index: 999;
}

#produkt-oversigt div:hover .button {
    opacity: 1;
    cursor: pointer;
}

.seperator {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    height: 50vh;
    min-height: 20rem;
    width: 100%;
    overflow: hidden;
}

.seperator video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.seperator .waves {
    display: table-cell;
    position: relative;
    z-index: 2;
}

.wavetop {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    z-index: 999;
}

.wavebottom {
    width: 100%;
    transform: rotate(180deg);
    display: inline-block;
    vertical-align: bottom;
}

.seperator .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #889da1;
    opacity: 0.5;
    z-index: 1;
}
