body {
    margin: 0;
}

h1 {
    font-family: 'EB Garamond', serif;

}

h2 {
    font-family: 'EB Garamond', serif;

}

h3 {
    font-family: 'Lato', sans-serif;

}

h4 {
    font-family: 'Lato', sans-serif;

}

h5 {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

p {
    font-family: 'Lato', sans-serif;
}

/* NAV BAR INDSTILLINGER */

li {
    font-family: 'Lato', sans-serif;
}

@media (max-width: 992px) {

    .navbar {
        position: absolute;
        width: 100%;
        z-index: 9999;
    }
}

nav.navbar {
    max-width: 1078px;
    margin: 0 auto;
}

/* Content */

#wrapper {
    /*
    border-left: solid 1pt #eaeaea;
    border-right: solid 1pt #eaeaea;
*/
}

#haar-hud {}

#produkt-oversigt div {
    transition: .35s ease;
    border: none;
}


#produkt-oversigt .button {
    opacity: 0;
    transition: opacity .35s ease;
}


#produkt-oversigt div:hover {
    box-shadow: 1px 1px 10px #d8d8d8;
    transform: scale(1.03);
    z-index: 999;
}

#produkt-oversigt div:hover .button {
    opacity: 1;
    cursor: pointer;
}

.seperator {
    max-height: 25rem;
    overflow: hidden;
    z-index: 0;
    background-color: dimgrey;
}

.seperator video {
    width: 100%;
    z-index: 0;
/*    display: none;*/
}

.wavetop {
    margin-top: -30px;
    width: 100%;
    z-index: 9999;
    margin-bottom: -40px;
}

.wavebottom {
    margin-top: 20px;
    margin-bottom: -5px;
    width: 100%;
    transform: rotate(180deg);
}
