body {
    margin: 0;
}

h1 {
    font-family: 'EB Garamond', serif;

}

h2 {
    font-family: 'EB Garamond', serif;

}

h3 {
    font-family: 'Lato', sans-serif;

}

h4 {
    font-family: 'Lato', sans-serif;

}

h5 {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

p {
    font-family: 'Lato', sans-serif;
}

/* NAV BAR INDSTILLINGER */

li {
    font-family: 'Lato', sans-serif;
}

@media (max-width: 992px) {

    .navbar {
        position: absolute;
        width: 100%;
        z-index: 9999;
    }
}

nav.navbar {
    max-width: 1078px;
    margin: 0 auto;
}

/* Content */

#wrapper {
    /*
    border-left: solid 1pt #eaeaea;
    border-right: solid 1pt #eaeaea;
*/
}

#haar-hud {}

#produkt-oversigt div {
    transition: .35s ease;
    border: none;
}


#produkt-oversigt .button {
    opacity: 0;
    transition: opacity .35s ease;
}


#produkt-oversigt div:hover {
    box-shadow: 1px 1px 10px #d8d8d8;
    transform: scale(1.03);
    z-index: 999;
}

#produkt-oversigt div:hover .button {
    opacity: 1;
    cursor: pointer;
}

.seperator {
    position: relative;
    height: 20rem;
    overflow: hidden;
}

.seperator video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: 1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.wavetop {
    margin-top: -10px;
    width: 100%;
    z-index: 9999;
    /*    background-color: rgba(0, 255, 255, 0.27);*/
    margin-bottom: -20px;
}

.wavebottom {
    width: 100%;
    transform: rotate(180deg);
    /*    background-color: rgba(0, 255, 255, 0.27);*/
}

.seperator .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #889da1;
    opacity: 0.5;
    z-index: 1;
}
